name: DevOpsCaseStudy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  publish:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET 6.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore
      
    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: Publish
      run: dotnet publish -r win-x64 -c Release /p:PublishSingleFile=true /p:PublishTrimmed=true

    - name: Upload DevOpsCaseStudy Artifact
      uses: actions/upload-artifact@v2
      with:
        name: DevOpsCaseStudyLVG
        path: /DevOpsCaseStudy/bin/Debug/netcoreapp6.0/publish
