name: DevOpsCaseStudy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  publish:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET 6.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore
      
    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: Publish
      run: dotnet publish -r win-x64 -c Release /p:PublishSingleFile=true /p:PublishTrimmed=true

    - name: Upload DevOpsCaseStudy Artifact
      shell: bash
      run: |
        tag=$(git describe --tags --always)
        release_name="App-$tag-${{ matrix.target }}"
        
        dotnet publish DevOpsCaseStudy/DevOpsCaseStudy.csproj --framework netcoreapp6.0 --runtime "${{ matrix.target }}" -c Release -o "$release_name"
        
        7z a -tzip "${release_name}.zip" "./${release_name}/*"
        
        rm -r "$release_name"
    
    - name: Publish Result
      uses: softprops/action-gh-release@v1
      with:
        files: "App*"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
